{% extends "includes/authTemplates.html" %}
{% block title %}Main App{% endblock %}
{% block main %}

<body class="bg-gradient-primary vh-100 vw-100 pt-5">
  <div class="pt-5">
    <div class="pt-5">
      <main class="pt-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-5">
                  {% include 'includes/error.html' %}
                  <div class="row">
                    <form class="user col-lg" method="POST" action="{{url_for('auth.forget_password')}}">
                      <!-- <input type="hidden" name="_token" value="VvU3JNtOQKMwt5KoypOgGTjNQMcGcCXNU8ZrIjkJ" /> -->
                      <div class="form-group text-center">
                        <h3>Lupa Password</h3>
                        <p>Password dari username akan diubah menjadi '123456'</p>
                      </div>
                      <div class="form-group">
                        <input id="text" type="text" class="form-control form-control-user" name="login" value=""
                          placeholder="Masukkan username..." required autocomplete="login" autofocus />
                      </div>

                      <div class="form-group row mb-3">
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-primary btn-user btn-block">
                            Reset Password
                          </button>
                        </div>
                      </div>
                      <div class="form-group row mb-0">
                        <div class="col-md-12 text-center">
                          <a href="{{url_for('auth.login')}}">Kembali ke halaman login</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>
{% endblock %}